body {
  padding: 10px;
}
img {
  width: 100%;
  border-radius: 50%;
}

h3 {
  border: 1px solid;
}

h4 {
  border-bottom: 1px solid;
}
.jumbotron{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.sidebar {
  float: left;
  width: 250px;
}
.container {
  text-align: justify;
  border: 3px dotted;
}

.aboutMaly {
  float: left;
}
