body {
  padding-top: 50px;
  text-align: justify;
  background:  #f2f2f2;
}
img {
  width: 100%;
  border-radius: 50%;
}
h3 {
  padding-left: 10px;
}
h4 {
  font-family: 'Bungee', cursive;
  border-bottom: 1px dotted;
}
h2 {
  text-align: center;
}
span {
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  color: #00b3b4;
}
.container {
  padding-top: 10px;
  background: white;
}
.jumbotron {
  font-size: 90px;
}
.sidebar {
  float: left;
  width: 250px;
}
h3,
.container {
  border-radius: 6px;
}
h2,
h3,
.jumbotron {
  font-family: 'Monoton', cursive;
}
h3,
.jumbotron {
  background:  linear-gradient(to right, #bbff99 0%, #ffec99 37%, #ff9999 100%);
}
h3,
.container,
.jumbotron {
  border: 1px dotted;
}
